.blog-box figcaption .blog-img {
    width: 300px;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    background-position: center;

}

.blog-box figcaption .blog-name {
    position: relative;
    top: 160px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.blog-box {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

}

.blog-box figcaption p {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pozvanka-block p {
    margin: 10px;
}

.blog-box figcaption a {
    color: var(--dark-gray);
    font-weight: 700;
}

.blog-box figcaption a:hover {
    color: var(--red);

}

.blog-box figcaption {
    display: flex;
}

.blog-box figcaption .blog-img {
    max-width: 400px;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-box figcaption .blog-name {
    top: 240px;
}
.blog {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blog-box figcaption {
    display: block;
}

.blog-box {
    max-width: 400px;
}

.blog {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
@media (min-width: 520px){
.blog-box{
    margin: 20px;
}
}



.blog-post-image{
    box-shadow: 5px 3px 14px 2px rgba(0, 0, 0, 0.12);
    height: 250px;
    object-fit: cover;
}
.blog-post{
    width: 400px;
    margin: 20px;
}
.blog-post-container{
    display: flex;
    flex-wrap: wrap;
}
.post-title{
    font-size: 1.875rem;
}
.blog-data p{
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.5;
}
.blog-data a{
    color: var(--red);
    

}
.blog-data a:hover{
    text-decoration: underline;
}
.blog-data img, .blog-image{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
    height: auto;
    width: 1000px;
}
.blog-data em{
    color: var(--red);
}
.blog-data h2{
    font-size: 2em;
}
.blog-post .blog-image{
    width: 100%;
}

@media (max-width: 520px){
    .blog-data p{
        margin-bottom: 20px;
        font-size: 1em;
        line-height: 1.2;
    }
    .blog-data img, .blog-image{
        width: 100%;
    }
    }