
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.navbar{
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-container .menu-items{
    display: flex;
    align-items: center;
}
.navbar-container .menu-items li{
    display: inline;
}
.navbar-logo{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    z-index: 100;
}
.navbar-container .menu-items li a{
    text-decoration: none;
    color: initial;
    padding: 5px 10px;
    margin: 5px;
    color: var(--dark-gray);
    letter-spacing: 1px;
    
}
.nav-link{
    position: relative;
    transition: 0.2 ease-in;
}


.navbar-container .menu-items li a.nav-contact{
    padding: 5px 20px;
    border: solid 2px var(--red);
    border-radius: 20px;
    transition: .25s ease-in-out;
    font-weight: bold;
}
.navbar-container .menu-items li a.nav-contact:hover{
    background-color: var(--red);
    color: var(--white);
    font-weight: bolder;
    
}
.nav-link:hover{
    opacity: 0.8;
}
.nav-link::before,
.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--red);
    transform: scaleX(0);
    transition: transform .25s;
}
.nav-link::before{
    top: -2px;
    transform-origin: left;
}
.nav-link::after{
    bottom: -2px;
    transform-origin: right;
}
.nav-link:hover::after,
.nav-link:hover::before{
    transform: scaleX(1);
}
.default-nav{
    z-index: 0  ;
}
.openner{
    position: relative;
}
.nav-submenu{
    
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    z-index: 999;
    top: 56px;

}
.openner:hover > .nav-submenu{
    display: flex;
}



@media only screen and (max-width:970px) {
    .line2 {
        background: var(--dark-gray);
        display: block;
        height: 4px;
        position: relative;
        transition:  .2s ease-out;
        width: 30px;
        border-radius: 4px;
    }
    .line2:before, .line2:after {
        background: var(--dark-gray);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
        border-radius: 3px;
    }
    .line2:before{
        top: 10px;
    }
    .line2:after{
        bottom: 10px;
    }
    .hamburger-lines {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    z-index: 100;
    }
  .navbar-container .menu-items{
      display: none;
  }
  .hamburger-clicked .line2{
    background: transparent;
  }
  .hamburger-clicked .line2:before{
      transform: rotate(45deg);
      top: 0;
  }
  .hamburger-clicked .line2:after{
    transform: rotate(-45deg);
    top: 0;
  }
  .navbar-container .menu-items{
    display: flex;
    height: calc(100vh - 120px);
    width: 100vw;
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(168,150,255,1) 51%, rgba(255,98,106,1) 100%);    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
    flex-direction: column;
    position: absolute;
    left: -100vw;
    top: 0;
    padding: 0;
    margin: 0;
    transition: .4s ease-in-out;
    padding-top: 120px;
    z-index: 99;
    height: 100vh;
  }
  @keyframes animate-background  {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }
  .navbar-container .menu-clicked{
    left: 0;
  }
  .navbar-container .menu-items li{
      margin: 10px;
  }
  .navbar-container .menu-items li a{
    font-size: 1.2em;
  }
  .navbar-container{
      position: relative;
  }
}
