
.contact-form {
    max-width: 480px;
    background: white;
    border-radius: 25px;
    grid-area: contact-form;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputwrapper {
    margin-bottom: 20px;

}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    padding: 12px 20px;
    width: 100%;
    font-size: 0.85rem;
    border: 0;
    background-color: var(--light-gray);
    
    max-width: 400px;
    width: 315px;

}

.newline {
    display: block;
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
}

.margin-right-a {
    margin-right: 20px;
}

input[type=radio] {
    margin-right: 10px;

}

form {
    margin: 40px;
    font-size: 18px;
}

.mybutton {

    margin: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    background-color: white;
    
    border: 3px solid var(--red);
    border-radius: 100px;
    transition:ease-in .25s;
    cursor: pointer;
}

.mybutton:hover {
    transform: scale(1.1);
}

.contact-info>* {
    margin: 20px;
    color: var(--dark-gray);
    text-decoration: none;
    list-style: none;
}

.color {
    color: var(--dark-gray);
}

.contact-info {
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    grid-area: contact-info;

}

.contact-info,
.contact-info+div {
    font-size: 14px;
}

.gdpr {
    margin: 20px;
    grid-area: gdpr;
}

.gdpr strong a {
    color: var(--dark-gray);
}

@media only screen and (min-width:640px) {

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea {
        width: 250px;
        min-width: 400px;
    }

    .contact-form {
        margin-left: auto;
        margin-right: auto;
        margin: 20px;

    }

}

@media only screen and (min-width:920px) {


    .contact-info {
        text-align: left;
        margin: 0;
    }

    .layout {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "contact-form contact-info"
            "gdpr gdpr";
        grid-gap: 10px;
        max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    }
}

@media only screen and (min-width:1920px) {


    .contact-info {
        text-align: left;
        margin: 0;
    }

    .layout {
        display: grid;
        grid-template-columns: 4fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contact-form contact-info . ."
            "contact-form gdpr gdpr gdpr";
        grid-gap: 10px;
        max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    }

   

    .gdpr {
        margin-top: 30px;
    }
}