.slide-container .each-slide .slide{
    height: calc(100vh - 83px);
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.slide-container .each-slide:hover{
    cursor: grab;
}
.slide-container.slide-small .react-slideshow-container{
    max-width: 600px;
}
.slide-container.slide-small .each-slide .slide{
    height: 390px;
    /* background-size: contain; */
}
.gallery-web h2{
    font-size: 30px;
}
.gallery-web img{
    object-fit: contain;
}
.default-nav{
    margin-left: 10px;
    margin-right: 10px;
}
.glide{
    z-index: 0;
}
.glide__arrow{
    border: 0;
}
.glide__arrow img{
    transition: ease-in-out .25s;
}
.glide__arrow:hover img{
    opacity: 60%;
}
.hero{
    position: relative;
}
.hero-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text h1{
    font-weight: bold;
    margin: 0;
    margin-top: 300px;
    font-size: 5em;
    color: black;
    z-index: 999;
    animation: title 2s;
   
}
.hero-text h2{
    margin-top: 0;
    color: var(--dark-gray);
    z-index: 999;
    animation: subtitle 2s;
}


@keyframes title{
 0%{

    transform: translateY(170px);
    opacity: 0;
 }
 25%{
    transform: translateY(170px);
    opacity: 0;
 }
 100%{
     transform: translateY(0);
     opacity: 1;
 }
}
@keyframes subtitle{
 0%{

    transform: translateY(170px);
    opacity: 0;
 }
 40%{
    transform: translateY(170px);
    opacity: 0;
 }
 100%{
     transform: translateY(0);
     opacity: 1;
 }
}



.sluzby-main figure{
    position: relative;
    margin: 10px;
    

}

.sluzby-main figure img {
    width: 300px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 16%);
}
.uvodni-text-bold{
    font-size: 1.2em;
}

.sluzby-main figure figcaption h2{
    display: flex;
    font-weight: 700;
    font-size: 24px;
    color: var(--dark-gray);
    position: absolute;
    left: 50%;
    margin-left: -119.5px;
    top: 50%;
    margin-top: -89.5px;
    height: 179px;
    background: rgba(255, 255, 255, 0.616);
    align-items: center;
    justify-content: center;
    width: 239px;
    text-align: center;
    padding: 1em;
    transition: .25s ease-in;
    cursor: pointer;

}


.description .opacity {
    opacity: .6;
}
.scroll {
    display: flex;
    overflow-x: auto;
    scrollbar-width: 0px;
    
}
.sluzby-main figure figcaption {
    cursor: pointer;
}

.sluzby-main figure figcaption h2:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.87);
}
.sluzby-second{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.sluzby-second figure{
    background-color: var(--white);
    flex-direction: column;
    flex-shrink: 0;
    height: 225px;
    margin: 10px;
    width: 300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.sluzby-second figure img {
    margin-bottom: 20px;
    width: 120px;
}
.sluzby-second h2{
    font-size: 28px;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    
}
.sluzby-second a{
    color: inherit;
}
.sluzby-second a:hover{
    opacity: 70%;
    transition: .2s;
}

.texty {

    margin: 10px;
    /* margin-top: 40px; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}



.citat {
    padding: 20px;
    padding-bottom: 10px;
    background-color: var(--white);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.citat p {
    font-weight: 300;
}

.citat p:last-child {
    font-weight: 700;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.inside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#o-mne {
    margin-top: 40px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin: auto;
    padding: 10px;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
}

.portret+div {
    max-width: 520px;

}


#o-mne .portret {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-bottom: 40px;
    margin: auto;
    margin-bottom: 20px;

}
.hero-img img{
    max-width: 600px;
}
.herowb-text h1{
    font-size: 3em;
    max-width: 600px;
}

.gallery-img{
    object-fit: contain;
}
.sluzby figure{
    justify-content: space-between;
}
.sluzby figure img {
    width: 120px;
    margin-bottom: 20px;
}
.web-spoluprace{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: auto; */
}
.spoluprace-section{
    background-color: white;
    width: 390px;
    padding: 30px;
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 30px;
    position: relative;
}

.spoluprace-section::before {
    display: block;
    content: "";
    width: 25%;
    height: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--red);
}
.number{
    position: absolute;
    left: 50%;
    bottom: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.143rem;
    line-height: 5rem;
    color: rgb(255, 255, 255);
    background-color: var(--red);
}
.title-text{
    max-width: 1000px;
    font-size: 1.5em;
}

@media only screen and (min-width:920px) {
    .herowb{
        display: flex;
        margin: 20px;
    }
    .description figure {

        margin: 15px;

    }


    #o-mne {

        flex-direction: row;
        
    }

    .foto_sluzby_1 {
        margin-left: 6px;
    }

    .sluzby-wrapper {
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        overflow-x: 0;
        scrollbar-width: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

    }

    .sluzby-main figure:hover .sluzby-title {
        opacity: 1;
        transition: 0.75s;

    }
    .scroll{
        justify-content: center;
    }
    .slide-container .each-slide div {
        height: 37vh;
        background-size: cover;
    }
}
@media (max-width: 920px){
    .hero-text{
        display: none;
    }
    .slide-container .each-slide .slide{
    height: 37vh;
    background-size: cover;
    }
    .web-spoluprace {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .spoluprace-section {
        background-color: white;
        min-width: 356px;
        padding: 21px;
        margin: 7px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 10px;
        position: relative;
        margin-top: 36px;
    }
    .title-text{
        font-size: 1.1em;
    }

}
@media (max-width: 620px){
    .slide-container.slide-small .each-slide .slide {
        height: 260px;
    }
}
